.body-main_snake {
    display: none;
}

@media (min-width: 380px) {
    .game_over_main {
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/images/arcade-machine.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game_over_screen {
        width: 59.3vw;
        height: 79.43vh;
        margin: 10.29vh 20.35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .snake_mobile {
        display: none
    }
    
    .body-main_snake {
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/images/arcade-machine.png');
        background-color: #000000;
        background-size: cover;
        background-position-y: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .snake-canvas {
        border: 1px solid #b3b3b3;
    }
}