@import '../../variables.scss';

.body {
    display: flex;
    flex-direction: column;
}

.main {
    background-image: url('../../assets/images/Homepage-background-mobile.jpg');
    background-position: 50% 30%;
    background-size: 160%;
    background-repeat: no-repeat;
    height: 568px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.4375rem 1.4375rem 0px;
}

.motive {
    display: none;
}

@media (min-width: 380px) {
    .body {
        justify-content: baseline;
    }
    
    .main {
        background-image: url('../../assets/images/Homepage-background.jpg');
        background-position: 50% 20%;
        background-size: cover;
        height: 657px;
    }

    .buttons {
        margin: 1.25rem 3.125rem 0;
    }

    .motive {
        display: block;
        color: #fff;
        margin-top: 14rem;
        font-size: 2.25rem;
        font-weight: 500;
        text-align: center;
        margin-top: 6.9rem;
    }
}