@import '../../../../variables.scss';

.game {
    width: 61.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.text {
    font-family: $mobileFont;
    font-size: $mobileText;
    margin: $zero;
}
    
.disabledText {
    font-family: $mobileFont;
    font-size: $mobileText;
    margin: $zero;
    color: #00000080;
}
    
.button {
    background-color: transparent;
    border: $not;
    outline: $not;
    text-align: right;
    font-family: $mobileFont;
    font-size: $mobileText;
    color: $black;
    margin-left: $zero;
}
    
.button:not(:disabled) {
    animation: blinker 1.2s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

.button:disabled {
    color: #00000080;
}

@media (min-width: 380px) {
    .game {
        width: 50vw;
        margin-bottom: 1.875rem;
        
    }
    
    .text {
        font-family: $font;
        font-size: $normal;
    }
    
    .disabledText {
        font-family: $font;
        font-size: $normal;
    }
    
    .button {
        font-family: $font;
        font-size: $normal;
        cursor: $hand;
    }
    
    .button:disabled {
        cursor: not-allowed;
    }
}