@import '../../variables.scss';

.title {
    font-family: $mobileFont;
    font-size: $mobileTitle;
    text-align: $align;
    margin: $zero;
}

.text {
    font-family: $mobileFont;
    font-size: $mobileText;
    text-align: $align;
    margin: $zero;
}
    
.input_container{
    position: relative;
}
    
.input {
    width: 25vw;
    height: $mobileText + 0.06;
    margin: $zero;
    padding: $zero;
    outline: $not;
    opacity: $zero;
    position: absolute;
    top: $zero;
}
    
.input:focus ~ .input_output {
    animation: blinker 1.2s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}
    
.input_output {
    height: $mobileText + 0.06;
    font-family: $mobileFont;
    font-size: $mobileText;
    text-align: $align;
    margin: $zero;
}
    
.solid {
    background-color: #000000;
    width: 5rem;
    height: $normal + 0.875rem;
    border: $not;
    outline: $not;
    text-align: $align;
    font-family: $mobileFont;
    font-size: $mobileText;
    color: #909E7A;
}
    
.solid:disabled {
    background-color: #00000080;
}
    
.outline {
    background-color: transparent;
    width: 5rem;
    height: $normal + 0.875rem;
    border: 1px solid $black;
    outline: $not;
    text-align: $align;
    font-family: $mobileFont;
    font-size: $mobileText;
    color: $black;
    margin-left: 6.25vw;
}

.bigButton {
    background-image: url('../../assets/images/button-big.png');
    background-color: transparent;
    border: $not;
    outline: $not;
    width: 47px;
    height: 47px;
}

.buttonLeft {
    background-image: url('../../assets/images/button-left.png');
    background-color: transparent;
    border: $not;
    outline: $not;
    width: 30px;
    height: 30px;
}

.buttonDown {
    background-image: url('../../assets/images/button-down.png');
    background-color: transparent;
    border: $not;
    outline: $not;
    width: 30px;
    height: 30px;
}

.buttonRight {
    background-image: url('../../assets/images/button-right.png');
    background-color: transparent;
    border: $not;
    outline: $not;
    width: 30px;
    height: 30px;
}

.buttonUp {
    background-image: url('../../assets/images/button-up.png');
    background-color: transparent;
    border: $not;
    outline: $not;
    width: 30px;
    height: 30px;
}

@media (min-width: 380px) {
    .title {
        font-family: $font;
        font-size: $normal + 0.25rem;
    }
    
    .text {
        font-family: $font;
        font-size: $normal;
    }
    
    .input {
        cursor: $hand;
    }
    
    .input_output {
        height: $normal + 0.06;
        font-family: $font;
        font-size: $normal;
        cursor: $hand;
    }
    
    .solid {
        width: $normal + 11.5rem;
        height: $normal + 2.75rem;
        font-family: $font;
        font-size: $normal;
        color: #d8d8d8;
        cursor: $hand;
    }
    
    .outline {
        width: $normal + 11.5rem;
        height: $normal + 2.75rem;
        font-family: $font;
        font-size: $normal;
        cursor: $hand;
    }
}