.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    margin-bottom: 20px;
}

.listTitle {
    text-decoration: none;
    height: 19px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.listItems {
    display: none;
}

.listItem {
    display: none;
}

@media (min-width: 430px) {
    
    .listItems {
        display: list-item;
        margin-bottom: 10px;
        height: 16px;
    }

    .listItems :last-child {
        margin: 0;
    }

    .listItem {
        display: list-item;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }
}