@import '../variables.scss';

.main {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/game-boy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: $align;
    position: absolute;
    display: flex;
    justify-content: $align;
    align-items: $align;
}

.screen {
    width: 67.44vw;
    height: 52.82vh;
    margin: 10.91vh 16.25vw 36.27vh;
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: space-between;
}

.d_pad_up {
    position: absolute;
    left: 17.81vw;
    bottom: 19.95vh;
}

.d_pad_left {
    position: absolute;
    left: 8.44vw;
    bottom: 14.67vh;
}

.d_pad_down {
    position: absolute;
    left: 17.81vw;
    bottom: 9.38vh;
}

.d_pad_right {
    position: absolute;
    left: 27.19vw;
    bottom: 14.67vh;
}

.buttonA {
    position: absolute;
    right: 8.625vw;
    bottom: 11.62vh;
}

.textA {
    margin: 15.5px 0 0;
    text-align: center;
    font-weight: 500;
    color: #262626;
}

.buttonB {
    position: absolute;
    right: 26.75vw;
    bottom: 5.11vh;
}

.textB {
    margin: 15.5px 0 0;
    text-align: center;
    font-weight: 500;
    color: #262626;
}

@media (min-width: 380px) {
    .main {
        background-image: url('../assets/images/arcade-machine.png');
        background-size: cover;
    }

    .screen {
        width: 59.3vw;
        height: 79.43vh;
        margin: 10.29vh 20.35vw;
    }

    .d_pad {
        display: $not;
    }

    .control {
        display: $not;
    }
}